.token.keyword {
    color: red; /* Warna untuk kata kunci */
}

.token.keyword2 {
  color: #BA66D2
}

.token.string {
    color: #06ad26; /* Warna untuk string */
}

.token.operator {
  background-color: #f5f2f0;
}
