.token.keyword {
    color: red; /* Warna untuk kata kunci */
}

.token.keyword2 {
  color: #BA66D2
}

.token.string {
    color: #8D97F2; /* Warna untuk string */
}

.token.operator {
  background-color: #6976E9;
}
